.slider-container
  padding: 0 20px
  
.slider
  border-radius: 5px
  background: rgba(15, 255, 15, 0.75)
  background: linear-gradient(left top, #E0E0E0, #EEEEEE)
  width: 150px
  height: 15px
  margin: 5px

.thumb
  width: 10px
  height: 25px
  border-radius: 3px
  position: relative
  left: 0px
  top: -5px
  background: rgba(51, 195, 240, 0.8)
  cursor: pointer

.filters-container
  user-select: none
  position: fixed
  top: 50px
  left: 0
  right: 0
  max-width: min-content
  z-index: 99998
  transition: .5s
  .filter
    background: white

.filter-translate
  transform: translate(-250px, 0)
  transition: .2s

.icon-filter
  position: fixed
  left: 25px
  top: 15px
  z-index: 99999
  cursor: pointer
.svg
  cursor: pointer
