.slider-container
  padding: 0 20px
  
.slider
  border-radius: 5px
  background: rgba(15, 255, 15, 0.75)
  background: linear-gradient(left top, #E0E0E0, #EEEEEE)
  width: 200px
  height: 15px
  margin: 5px

.thumb
  width: 10px
  height: 25px
  border-radius: 3px
  position: relative
  left: 0px
  top: -5px
  background: rgba(51, 195, 240, 0.8)
  cursor: pointer

.filters-container
  position: fixed
  top: 0
  margin: auto
  display: flex
  z-index: 99999
  .filter
    background: white
