<div class="row" id="cart">
  <i class=""></i>
  <div class="one columns">
    <div class="modal">
      <div class="modal-inner">
        <div class="modal-content">
          <div class="modal-close-icon">
            <a href="javascript:void(0)" class="close-modal"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
          <div class="modal-content-inner">
            <h4>This is the heading</h4>
            <p>content </p>
          </div>
          <hr class="modal-buttons-seperator">
          <div class="modal-buttons">
            <button class="button close-modal">Cancel</button>
            <button class="button button-primary close-modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container demo-container">
      <button class="backet fab fa-opencart fa-2x"></button>
    </div>
  </div>
</div>