<div class="row container cart {{blockImgActive}}">
  <div class="two column block-img "><img src="{{url}}" alt="none"></div>
  <div class="two column u-full-width">
    <div><span>Name: </span>{{ name }}</div>
    <div><span>Price: </span>{{ price }}<span> $</span></div>
    <div><span>Gender: </span>{{ gender }}</div>
    <div *if="fur"><span>Fur: </span>{{ fur }}</div>
    <div><span>Color: </span>{{ color }}</div>
    <button data-id="{{ id }}" class="button button-buy button-primary {{ buttonActiveClass }}">{{buttonTextContent}}</button>
  </div>
</div>
